@font-face {
  font-family: 'Asta Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Light.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Light.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Light.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Asta Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Regular.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Asta Sans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Medium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Medium.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Medium.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Asta Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-SemiBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-SemiBold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-SemiBold.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Asta Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Bold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Bold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Bold.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Asta Sans';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-ExtraBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-ExtraBold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-ExtraBold.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/AstaSans/AstaSans-ExtraBold.ttf') format('truetype');
}